@media (min-width: 991px) {
	header nav .nav-link::before {
		width: 85%;
	}
}

.info-kamar-section {
	height: 100%;
}

.info-kamar-section .carousel-item {
	/* TODO : SEARCH FOR BETTER SOLUTION */
	height: 400px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
}

.info-kamar-section .carousel-item.img-1 {
	background-image: url(../img/klurut/cover\ klurut.png);
}

.info-kamar-section .carousel-item.img-2 {
	background-image: url(../img/klurut/2.png);
}

.info-kamar-section .carousel-item.img-3 {
	background-image: url(../img/klurut/3.png);
}

.info-kamar-section .carousel-item.img-4 {
	background-image: url(../img/klurut/4.png);
}

.info-kamar-section .carousel-item.img-5 {
	background-image: url(../img/klurut/5.png);
}

.info-kamar-section .carousel-content p {
	font-size: 0.8rem;
}

.info-kamar-section .carousel-content h1 {
	font-size: 2rem;
	font-weight: 400;
}

@media (min-width: 1280px) {
	.info-kamar-header {
		display: flex;
		justify-content: center;
	}

	.info-kamar-section .carousel-item {
		height: 60dvh;
	}

	.info-kamar-section .carousel-content p {
		font-size: 1rem;
	}

	.info-kamar-section .carousel-content h1 {
		font-size: 3rem;
		font-weight: 400;
	}

	.info-fasilitas {
		height: 200px;
	}
}

.header-items {
	color: var(--color-text-muted);
	transition: color 0.15s ease-in-out;
	cursor: pointer;
}

.header-items.active {
	color: var(--color-text);
}

.btn.btn-pg-primary {
	background-color: var(--color-white);
	border-radius: 1rem;
}

.btn.btn-pg-primary:hover {
	background-color: var(--color-primary);
	color: var(--color-white);
}

.btn.btn-pg-whatsapp {
	background-color: #25d366;
	height: 100%;
	border-radius: 100%;
}

.btn.btn-pg-whatsapp:hover {
	background-color: var(--color-white);
}

.btn.btn-pg-whatsapp:hover i {
	color: #25d366 !important;
}

@media (min-width: 1280px) {
	.booking {
		padding-inline: 400px !important;
	}
}
