/* FONT */
@font-face {
	font-family: "Gotham";
	src: url("../fonts/gotham/GothamPro-Light.ttf") format("truetype");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: "Gotham";
	src: url("../fonts/gotham/GothamPro.ttf") format("truetype");
	font-weight: 400;
	/* Normal weight */
	font-style: normal;
}

@font-face {
	font-family: "Gotham";
	src: url("../fonts/gotham/GothamPro-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Gotham";
	src: url("../fonts/gotham/GothamPro-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Recoleta";
	src: url("../fonts/recoleta/Recoleta-Medium.eot");
	src: local("Recoleta Medium"), local("Recoleta-Medium"),
		url("../fonts/recoleta/") format("embedded-opentype"),
		url("../fonts/recoleta/Recoleta-Medium.woff2") format("woff2"),
		url("../fonts/recoleta/Recoleta-Medium.woff") format("woff"),
		url("../fonts/recoleta/Recoleta-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Recoleta";
	src: url("../fonts/recoleta/Recoleta-Thin.eot");
	src: local("Recoleta Thin"), local("Recoleta-Thin"),
		url("../fonts/recoleta/Recoleta-Thin.eot?#iefix") format("embedded-opentype"),
		url("../fonts/recoleta/Recoleta-Thin.woff2") format("woff2"),
		url("../fonts/recoleta/Recoleta-Thin.woff") format("woff"),
		url("../fonts/recoleta/Recoleta-Thin.ttf") format("truetype");
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: "Recoleta";
	src: url("../fonts/recoleta/Recoleta-SemiBold.eot");
	src: local("Recoleta SemiBold"), local("Recoleta-SemiBold"),
		url("../fonts/recoleta/Recoleta-SemiBold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/recoleta/Recoleta-SemiBold.woff2") format("woff2"),
		url("../fonts/recoleta/Recoleta-SemiBold.woff") format("woff"),
		url("../fonts/recoleta/Recoleta-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Recoleta";
	src: url("../fonts/recoleta/Recoleta-Regular.eot");
	src: local("Recoleta Regular"), local("Recoleta-Regular"),
		url("../fonts/recoleta/Recoleta-Regular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/recoleta/Recoleta-Regular.woff2") format("woff2"),
		url("../fonts/recoleta/Recoleta-Regular.woff") format("woff"),
		url("../fonts/recoleta/Recoleta-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Recoleta";
	src: url("../fonts/recoleta/Recoleta-Bold.eot");
	src: local("Recoleta Bold"), local("Recoleta-Bold"),
		url("../fonts/recoleta/Recoleta-Bold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/recoleta/Recoleta-Bold.woff2") format("woff2"),
		url("../fonts/recoleta/Recoleta-Bold.woff") format("woff"),
		url("../fonts/recoleta/Recoleta-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Recoleta";
	src: url("../fonts/recoleta/Recoleta-Black.eot");
	src: local("Recoleta Black"), local("Recoleta-Black"),
		url("../fonts/recoleta/Recoleta-Black.eot?#iefix") format("embedded-opentype"),
		url("../fonts/recoleta/Recoleta-Black.woff2") format("woff2"),
		url("../fonts/recoleta/Recoleta-Black.woff") format("woff"),
		url("../fonts/recoleta/Recoleta-Black.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "Recoleta";
	src: url("../fonts/recoleta/Recoleta-Light.eot");
	src: local("Recoleta Light"), local("Recoleta-Light"),
		url("../fonts/recoleta/Recoleta-Light.eot?#iefix") format("embedded-opentype"),
		url("../fonts/recoleta/Recoleta-Light.woff2") format("woff2"),
		url("../fonts/recoleta/Recoleta-Light.woff") format("woff"),
		url("../fonts/recoleta/Recoleta-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}

/*
################
               THITO'S TEMPLATE 
################
*/

:root {
	--color-background: rgba(247, 249, 250, 1);
	--color-white: #ffffff;

	--color-primary: rgb(16, 16, 16);
	--color-cta: rgb(255, 94, 31);
	--color-cta-hover: rgb(233, 68, 15);

	--color-info: #7d8da1;
	--color-text: #1b0909;
	--color-text-muted: #575757;
	--color-light: #848bc82e;
	--color-danger: #ff0060;

	--color-green: #1b9c85;
	--color-dark-green: #04756a;
	--color-blue: #6c9bcf;

	--card-padding: 1.8rem;
	--sm-card-padding: 0.3em;
	--padding-section: 6rem;

	--border-radius: 1.2rem;

	--box-shadow: 0px 4px 10px rgba(3, 18, 26, 0.15);
	--card-shadow: 0px 2px 5px rgba(3, 18, 26, 0.15);
	--kamar-shadow: rgba(3, 18, 26, 0.2) 0px 1px 2px 0px;
	--btn-box-shadow: var(--color-light) 0px 5px 15px;

	--bg-color-img: linear-gradient(
		160deg,
		#1a2f78 0%,
		#1870c9 50%,
		#5195e3 100%
	);
}

* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

h6,
p {
	margin: 0;
}

img {
	width: 100%;
	display: block;
	object-fit: cover;
}

small {
	font-size: 0.75rem;
}

html {
	scroll-padding-top: 100px;
	scroll-behavior: smooth;
}

body {
	font-size: 16px;
	font-family: "Gotham", sans-serif;
	background-color: var(--color-background);
	color: var(--color-text);
	overflow-x: hidden;
}

h1 {
	font-family: "Recoleta", sans-serif;
	font-weight: bold;
}

@media (min-width: 1280px) {
	body .container-nav {
		width: 1280px;
		padding-inline: 2rem;
	}
	body .container-page {
		width: 1080px;
	}
}

.text-cta {
	color: var(--color-cta);
}

.bg-cta {
	background-color: var(--color-cta);
}

.btn.bg-cta {
	border-color: var(--color-cta);
}

.btn.bg-cta:hover {
	background-color: var(--color-cta-hover);
}

/* BOOTSTRAP */
.bg-pg-primary {
	background-color: var(--color-primary);
}

header nav {
	box-shadow: var(--box-shadow);
}

header nav .navbar-brand {
	color: var(--color-white) !important;
}

header nav .nav-link {
	color: var(--color-background) !important;
	position: relative;
}

header nav .nav-link::before {
	content: "";
	position: absolute;
	top: 30px;
	bottom: 0;
	height: 2px;
	width: 100%;
	background-color: var(--color-white);
	border-radius: 5px;
	transition: transform 0.3s ease, opacity 0.3s ease;
	transform: translateY(50%);
	opacity: 0;
}

header nav .nav-link:hover {
	color: var(--color-white) !important;
}

header nav .nav-link:hover::before {
	opacity: 1;
	transform: translateY(0);
}

header nav .nav-link.active {
	color: var(--color-white) !important;
	position: relative;
}

header nav .nav-link.active::before {
	opacity: 1;
	transform: translateY(0);
}

/* HERO SECTION */

.hero-section .carousel-item {
	height: 90dvh;
	background-size: cover;
}

@media (min-width: 1280px) {
	.hero-section .carousel-item {
		height: 60dvh;
	}
}

.hero-section .carousel-item.img-1 {
	background-image: url(../img/carousel/1.png);
}

.hero-section .carousel-item.img-2 {
	background-image: url(../img/carousel/2.png);
}

.hero-section .carousel-item.img-3 {
	background-image: url(../img/carousel/3.png);
}

.hero-section .carousel-item.img-4 {
	background-image: url(../img/carousel/4.png);
}

.hero-section .carousel-item.img-5 {
	background-image: url(../img/carousel/5.png);
}

.hero-section .carousel-content p {
	font-size: 1.2rem;
}

.hero-section .carousel-content h1 {
	font-size: 4.5rem;
}

/* INFO SECTION */
.info-section {
}
.info-section h1 {
	margin: 0;
	font-size: 2.5rem;
}

.info-section hr {
	width: 10%;
	height: 2px;
	background-color: var(--color-primary);
	border: 1px solid var(--color-primary);
}

/* KAMAR SECTION */

.kamar-section,
.kamar-section .carousel-item {
	height: min(450px, 35dvh);
	background-position: center;
	background-size: cover;
}

@media (min-width: 1280px) {
	.kamar-section .carousel-item {
		height: 60dvh;
	}
}

.kamar-section .carousel-item.img-1 {
	background-image: url(../img/klurut/cover\ klurut.png);
}

.kamar-section .carousel-item.img-2 {
	background-image: url(../img/sungsang/sungsang\ cover.png);
}

.kamar-section .carousel-item.img-3 {
	background-image: url(../img/landep/cover\ landep.png);
}

.kamar-section .carousel-item.img-4 {
	background-image: url(../img/langkir/langkir\ cover.png);
}

.kamar-section .carousel-content p {
	font-size: 1rem;
}

.kamar-section .carousel-content h1 {
	font-size: 3rem;
	font-weight: 400;
}
